*{
    margin: 0;
    padding: 0;
}

.card-table::-webkit-scrollbar{
    display: none;
}

/* .cards{
    animation: cards-size 2s ease;
}

@keyframes cards-size{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
} */